body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(./table.png);
    background-size: contain;
    text-align: center;
    margin: 50px auto;
    font-weight: bold;
}
h1{
    color: goldenrod;
}
p{
    color: white;
}
#message-el{
    font-style: italic;

}
.bodyIn{
    padding-top: 150px;
    margin: auto;
    width: 50%;
}
button{
    color: #016f32;
    width : 150px;
    background : goldenrod;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    margin-bottom: 10px;
}